*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: black;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.clock{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}